@import "tailwindcss";


:root {
  color-scheme: light;
}

body {
  margin: 0;
}
@theme {
  --color-brand-blue: #1f5fbf;
  --color-brand-red: #e53935;
  --color-brand-gray: #6b7280;
  
}
/* Hide mute/volume button from native video controls */
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider {
  display: none !important;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
